@charset "UTF-8";

body{
    background-color: rgb(207, 248, 146);
    font-family: sans-serif;
}
h1{
  color: green;
}
h1#fodao{
    text-align: center;
    color: #FC0850;
}
h2{
 color: rgb(88, 139, 10);
}
.basico{
  color: #4DDC58;
}
.intermediario{
  color: #DB914D;
}
.avançado{
  color: #8465DB;
}

.pog{
    background-color: #615245;
}


