@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 255);
}
 
a{
    color: rgb(165, 15, 40);
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: black; 
 }

a:hover{
    text-decoration: underline;
    color: white;
}



a:active{
    color: rgb(163, 165, 42);
}

a::before{
    content: '→';
}
a::after{
    content: '←';
}